name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: create_github_release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true

